<div class="container">
	<div class="page-header">
		<h1>
			<?=$menu->getNowPageTitle()?>
		</h1>
	</div>
	<?php /* =$menu->getNowPageString(' <i class="fad fa-angle-right"></i> ') */ ?>
	<div class="faq-warp">
		<ul>
			<?php
          if( isset($data) && count($data) ) :
            foreach( $data as $row ) :
          ?>
			<li>
				<dd class="question">
					<?=$row['question']?>
				</dd>
				<dd class="answer">
					<?=$row['answer']?>
				</dd>
			</li>
			<?php
                endforeach;
          endif;
          ?>
		</ul>
	</div>
</div>

<style>
	.faq-warp {
		margin-top: 20px;
	}

	.faq-warp ul li {
		border: 1px #ccc solid;
		margin-bottom: 20px;
		padding: 10px;
		cursor: pointer;
	}

	.faq-warp ul li:last-child {
		margin-bottom: 0;
	}

	.faq-warp ul li .question,
	.faq-warp ul li .answer {
		padding: 10px 0;
	}

	.faq-warp ul li .question:before {
		display: inline-block;
		content: 'Q';
		margin-right: 10px;
		font-size: 1.5em;
		font-weight: 600;
	}

	.faq-warp ul li .answer {
		border-top: 1px #ccc dotted;
		padding: 20px;
	}

	.faq-warp ul li .answer:before {
		display: inline-block;
		content: 'A';
		margin-right: 10px;
		font-size: 1.5em;
		font-weight: 600;
	}

	.answer {
		display: none;
	}
</style>
<script>
	$(function () {
		$(document).on('click', '.faq-warp ul li', function () {
			$('.answer').slideUp();
			$(this).children('.answer').slideDown();
		});
	});
</script>