<?php if( isset($data) && count($data) ) : ?>
<div class="board-some-slide">
    <div class="swiper-container" id="board-<?=$code?>">
        <ul class="swiper-wrapper" >
            <?php foreach( $data as $row ) : ?>
            <li class="swiper-slide"><a href="/bdread/<?=$code?>/<?=$row['ano']?>">
                <img src="<?=$row['thumbnail']['path']?>" >
                <dd class="title"><?=$row['title']?></dd>
                <dd class="date"><?=substr($row['regDt'], 0, 10)?></dd>
                </a>
            </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<script>
new Swiper("#board-<?=$code?>", {
    slidesPerView: 3,
    spaceBetween: 30,
    effect: 'slide',
    loop: true,
    centeredSlides: true,
    speed: 1300,
    autoplay: {
        delay: 3000,
        disableOnInteraction: false
    }
});
</script>
<?php endif; ?>