<?php if( isset($data) && count($data) ) : ?>
<table class="table">
    <colgroup>
        <col>
        <col width="130px">
    </colgroup>
    <thead>
        <th class="text-center">제목</th>
        <th class="text-center">작성일</th>
    </thead>
    <tbody>
        <?php
        foreach( $data as $row ) :
            $link = $row['pw'] ? '#.secret' : '/bdread/'.$code.'/'.$row['ano'];
        ?>
        <tr>
            <td>
                <?=$row['parent']?'<i class="fad fa-arrow-alt-right" style="margin-left: '.$row['depth'].'0px;"></i>':''?>
                <?=$row['pw']?'<i class="fad fa-lock-alt"></i>':''?>
                <a href="<?=$link?>" data-ano="<?=$row['ano']?>" data-code="<?=$code?>" >
                <?=esc($row['title'])?></a>
            </td>
            <td class="text-center"><?=substr($row['regDt'], 0, 10)?></td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php endif; ?>