<div class="container">
    <div class="page-header">
        <h1>회원가입</h1>
    </div>
    <form id="frm" action="/post-join" method="POST" enctype="multipart/form-data" target="ifrm">
    <input type="hidden" name="<?=csrf_token()?>" value="<?=csrf_hash()?>">
    <input name="app" type="hidden" value="<?=$cfg['app']?>">
    <input name="level" type="hidden" value="<?=$cfg['appLv']?>">
    <?=view('Front/member/_memdata.html')?>
    <center>
    <button type="submit" class="btn btn-primary" >확인</button>
    </center>
    </form>
</div>