<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
</head>

<style>
    * {
        padding: 0;
        margin: 0;
        border: 0;
    }

    .grid {
        max-width: 1400px;
        width: 100%;
    }

    .section {
        position: relative;
        top: 20%;
    }
</style>

<body>

    <section class="section01">
        <div class="container">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <div class="content grid">
                <div class="group">
                    <p>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quasi aspernatur
                            voluptas, quam, aliquam quidem eos, facilis neque iure dignissimos voluptatem voluptate
                            dicta sint cumque beatae numquam repellat perspiciatis labore.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>