<div class="container">
    <div class="page-header">
        <h1>MyPage</h1>
    </div>
      <div class="row">
        <div class="col-lg-2">
            <?=view('Front/mypage/_left-menu.html')?>
        </div>
        <div class="col-lg-10">
            <form id="frm" action="/requst-post-normal" method="POST" enctype="multipart/form-data" target="ifrm">
                <input type="hidden" name="<?=csrf_token()?>" value="<?=csrf_hash()?>">
                <input name="app" type="hidden" value="<?=$cfg['app']?>">
                <input name="level" type="hidden" value="<?=$cfg['appLv']?>">
                <input name="ano" type="hidden" value="<?=session('member.ano')?>">
                <input name="table" type="hidden" value="member">
                <?=view('Front/member/_memdata.html')?>
                <center>
                <button type="submit" class="btn btn-primary" >확인</button>
                </center>
            </form>
        </div>
    </div>
</div>