<div class="head-title">
	<h4>배너관리</h4>
    <a href="/admin/config/banner-regist" style="float: right" class="btn btn-add">등록</a>
</div>

<div class="content">
    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h2 class="icon-search4"> 검색</h2>
                </div>
                <form method="GET" action="?">
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>검색어</th>
                            <td>
                                <select name="key">
                                    <option value="title" selected>제목</option>
                                    <option value="code" <?=(isset($_GET['key'])&&$_GET['key']=='code')?'selected':''?>>코드</option>
                                </select>
                                <input name="keyword" type="text" value="<?=$_GET['keyword']??''?>">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-find">검색</button>
                </div>
                </form>
            </div>
        </div>
    
        <div class="col-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h2 class="icon-paragraph-justify3"> 리스트</h2>
                </div>
                <div class="card-body">
                    <div class="body-header header-elements-inline">
                        <div class="header-total">
                            검색 <span><?=isset($page)?number_format($page->getTotal()):0?></span>
                            /
                            전체 <span><?=isset($total)?number_format($total):0?></span>
                        </div>
                        <?=per_page($_GET['perPage'])?>
                    </div>
                    <table class="table-row">
                        <colgroup>
                            <col width="1%">
                            <col><col><col><col><col><col><col>
                            <col width="5%">
                        </colgroup>
                        <thead>
                            <th><input type="checkbox" id="all" class="js-all-click" data-target="anos[]"><label for="all"></label></th>
                            <th>코드</th>
                            <th>이름</th>
                            <th>전환효과</th>
                            <th>좌우버튼</th>
                            <th>페이지네이션</th>
                            <th>사이즈</th>
                            <th>치환코드</th>
                            <th>수정</th>
                        </thead>
                        <tbody>
                            <?php
                            if( isset($data) && count($data) ) :
                                foreach($data as $row) :
                            ?>
                            <tr>
                                <td class="text-center"><input type="checkbox" name="anos[]" value="<?=$row['ano']?>" id="ano-<?=$row['ano']?>"><label for="ano-<?=$row['ano']?>"></label></td>
                                <td class="text-center"><?=$row['code']?></td>
                                <td class="text-center"><?=$row['title']?></td>
                                <td class="text-center">
                                    <?php
                                    switch($row['effect']){
                                        case 'slide'        : echo '슬라이드';      break;
                                        case 'fade'         : echo '페이드';        break;
                                        case 'cube'         : echo '큐브';          break;
                                        case 'coverflow'    : echo '커버';          break;
                                        case 'flip'         : echo '플립';          break;
                                    }
                                    ?>
                                </td>
                                <td class="text-center"><?=strtoupper($row['buttons'])?></td>
                                <td class="text-center"><?=strtoupper($row['pagination'])?></td>
                                <td class="text-center"><?=$row['width']?> <?=$row['widthType']?> <?=($row['widthType']=='px') ? ' X '.$row['height'].' px' : '' ?></td>
                                <td class="text-center">
                                    &lt;?=$widget::bannerView('<?=$row['code']?>')?>
                                </td>
                                <td class="text-center">
                                    <a href="/admin/config/banner-regist?ano=<?=$row['ano']?>" class="btn btn-edit">수정</a>
                                </td>
                            </tr>
                            <?php
                                endforeach;
                            else :
                            ?>
                            <tr>
                                <td colspan="9" class="text-center">검색항목이 없습니다.</td>
                            </tr>
                            <?php endif; ?>
                        </tbody>
                        
                        <tfoot>
                            <td colspan="9">
                                <label class="label-checked"></label>
                                <button type="banner" class="btn btn-white btn-sm js-del-row" data-table="banner">삭제</button>
                            </td>
                        </tfoot>
                        
                    </table>
                </div>
                <div class="card-footer text-right">
                    <?=isset($page) ? $page->links() : '' ?>
                </div>
            </div>
        </div>
    </div>
</div>