<div class="head-title">
	<h4>배너관리</h4>
    <button type="submit" onclick="$('#frm').submit()" class="btn btn-save">저장</button>
</div>

<div class="content">
    <div class="row">
        <form id="frm" method="POST" action="/requst-post-normal" enctype="multipart/form-data" target="ifrm">
            <input type="hidden" name="<?=csrf_token()?>" value="<?=csrf_hash()?>">
            <input type="hidden" name="ano" value="<?=$data['ano']??''?>">
            <input type="hidden" name="table" value="banner">
            <input type="hidden" name="return" value="/admin/config/banner-list">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>기본설정</h2>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>이름</th>
                            <td><input name="title" type="text" value="<?=$data['title']??''?>" placeholder="이름" required></td>
                            <th>코드</th>
                            <td><input name="code" type="text" value="<?=$data['code']??''?>" placeholder="코드" <?=(isset($data['code'])&&$data['code'])? 'readonly' : ''?> required></td>
                        </tr>
                        <tr>
                            <th>전환효과</th>
                            <td>
                                <input name="effect" type="radio" value="slide" id="effect0" checked><label for="effect0">슬라이드</label>
                                <input name="effect" type="radio" value="fade" id="effect1" <?=(isset($data['effect'])&&$data['effect']=='fade')? 'checked' : ''?>><label for="effect1">페이드</label>
                                <input name="effect" type="radio" value="cube" id="effect2" <?=(isset($data['effect'])&&$data['effect']=='cube')? 'checked' : ''?>><label for="effect2">큐브</label>
                                <input name="effect" type="radio" value="coverflow" id="effect3" <?=(isset($data['effect'])&&$data['effect']=='coverflow')? 'checked' : ''?>><label for="effect3">커버</label>
                                <input name="effect" type="radio" value="flip" id="effect4" <?=(isset($data['effect'])&&$data['effect']=='flip')? 'checked' : ''?>><label for="effect4">플립</label>
                            </td>
                            <th>배너사이즈</th>
                            <td>
                                <input name="width" type="text" style="width: 60px" value="<?=$data['width']??''?>" placeholder="가로" required>
                                <select name="widthType" onChange="size_span(this.value)">
                                    <option value="%" selected>%</option>
                                    <option value="px" <?=(isset($data['widthType'])&&$data['widthType']=='px')? 'selected' : ''?>>px</option>
                                </select>
                                <span class="span-height <?=(isset($data['widthType'])&&$data['widthType']=='px')? '' : 'hide'?> ">
                                <input name="height" type="text" style="width: 60px" value="<?=$data['height']??''?>" placeholder="세로" > px
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>전환속도</th>
                            <td>
                                <select name="speed">
                                    <option value="300" <?=(isset($data['speed'])&&$data['speed']=='300')? 'selected' : ''?>>빠르게</option>
                                    <option value="1300" <?=(isset($data['speed'])&&$data['speed']=='1300')||!isset($data['speed'])? 'selected' : ''?>>보통</option>
                                    <option value="3300" <?=(isset($data['speed'])&&$data['speed']=='3300')? 'selected' : ''?>>느리게</option>
                                </select>
                            </td>
                            <th>전환시간</th>
                            <td>
                                <select name="time">
                                    <option value="1" <?=(isset($data['time'])&&$data['time']=='1')? 'selected' : ''?>>1초</option>
                                    <option value="2" <?=(isset($data['time'])&&$data['time']=='2')? 'selected' : ''?>>2초</option>
                                    <option value="3" <?=(isset($data['time'])&&$data['time']=='3')||!isset($data['time'])? 'selected' : ''?>>3초</option>
                                    <option value="4" <?=(isset($data['time'])&&$data['time']=='4')? 'selected' : ''?>>4초</option>
                                    <option value="5" <?=(isset($data['time'])&&$data['time']=='5')? 'selected' : ''?>>5초</option>
                                    <option value="6" <?=(isset($data['time'])&&$data['time']=='6')? 'selected' : ''?>>6초</option>
                                    <option value="7" <?=(isset($data['time'])&&$data['time']=='7')? 'selected' : ''?>>7초</option>
                                    <option value="8" <?=(isset($data['time'])&&$data['time']=='8')? 'selected' : ''?>>8초</option>
                                    <option value="9" <?=(isset($data['time'])&&$data['time']=='9')? 'selected' : ''?>>9초</option>
                                    <option value="10" <?=(isset($data['time'])&&$data['time']=='10')? 'selected' : ''?>>10초</option>
                                    <option value="255" <?=(isset($data['time'])&&$data['time']=='255')? 'selected' : ''?>>수동</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>좌우버튼</th>
                            <td>
                                <input name="buttons" type="radio" value="y" id="buttons0" checked>
                                <label for="buttons0">보임</label>
                                <input name="buttons" type="radio" value="n" id="buttons1" <?=(isset($data['buttons'])&&$data['buttons']=='n')? 'checked' : ''?>>
                                <label for="buttons1">숨김</label>
                            </td>
                            <th>페이지네이션</th>
                            <td>
                                <input name="pagination" type="radio" value="y" id="pagination0" checked>
                                <label for="pagination0">보임</label>
                                <input name="pagination" type="radio" value="n" id="pagination1" <?=(isset($data['pagination'])&&$data['pagination']=='n')? 'checked' : ''?>>
                                <label for="pagination1">숨김</label>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                이미지
                                <button type="button" onClick="add_img_li()" class="btn btn-white btn-sm" >추가</button>
                            </th>
                            <td colspan="3">
                                <ul class="banner-ul-css">
                                    <li style="border-bottom: 1px #ccc solid ;">
                                        <dd>이미지</dd>
                                        <dd>링크</dd>
                                        <dd>타겟</dd>
                                        <dd>삭제</dd>
                                    </li>
                                </ul>
                                <ul id="banner-ul" class="banner-ul-css sortable">
                                    <?php
                                    if( isset($data['data']) && count($data['data']) ) :
                                        foreach($data['data'] as $key => $row) :
                                    ?>
                                    <li id="banner-li-<?=$key?>" class="banner-rename">
                                        <dd>
                                            <input name="data[<?=$key?>][img][name]" type="hidden" value="<?=$row['img']['name']?>">
                                            <input name="data[<?=$key?>][img][path]" type="hidden" value="<?=$row['img']['path']?>">
                                            <img src="<?=$row['img']['path']?>" style="max-height:30px;" id="preview<?=$key?>">
                                            <input name="data[<?=$key?>][img]" type="file" id="file<?=$key?>" data-preview="preview<?=$key?>"  class="hide" onchange="upload_file(this)" accept=".jpg,.png,.gif,.jpeg">
                                            <label for="file<?=$key?>" type="button" class="btn-file"></label>
                                        </dd>
                                        <dd><input name="data[<?=$key?>][link]" type="text" value="<?=$row['link']?>"></dd>
                                        <dd>
                                            <select name="data[<?=$key?>][target]">
                                                <option value="_self" selected>현재창</option>
                                                <option value="_blank" <?=($row['target'] == '_blank')?'selected':''?>>새창</option>
                                            </select>
                                        </dd>
                                        <dd><button type="button" onClick="$('#banner-li-<?=$key?>').remove()" class="btn btn-white btn-sm">삭제</button></dd>
                                    </li>
                                    <?php
                                        endforeach;
                                    endif;
                                    ?>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 style="float: left;">미리보기</h2> <button type="button" onClick="banner_preview()" class="btn btn-white btn-sm" style="float: left; margin-top: 0px;">보기</button>
                    
                </div>
                <div class="card-body" id="banner-preview">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css" rel="stylesheet" type="text/css" />
<style>
#banner-preview {overflow: hidden;}
.swiper-slide img {width: 100%;}
</style>
<script>
$(function(){
    $(document).on('change', '#frm input[name="code"]', function(){
        $this = $(this);
        if( $this.val().co_trim() ){
            const param = {table: 'banner', filde: 'code', value: $this.val()};
            $.when( ajax_from(param, '/filde-double-check') ).done(function(data){
                if( data.ano != 0 ){
                    alert('사용할수 없는 코드 입니다.');
                    $this.val('');
                    return;
                }
            });
        }
    });
});
const banner_li = `<li id="banner-li-%index%" class="banner-rename">
                        <dd>
                            <img src="/images/no-img.jpg" style="max-height:30px;" id="preview%index%">
                            <input name="data[%index%][img]" type="file" id="file%index%" data-preview="preview%index%"  class="hide" onchange="upload_file(this)" accept=".jpg,.png,.gif,.jpeg">
                            <label for="file%index%" type="button" class="btn-file"></label>
                        </dd>
                        <dd><input name="data[%index%][link]" type="text" value=""></dd>
                        <dd>
                            <select name="data[%index%][target]">
                                <option value="_self">현재창</option>
                                <option value="_blank">새창</option>
                            </select>
                        </dd>
                        <dd><button type="button" onClick="$('#banner-li-%index%').remove()" class="btn btn-white btn-sm">삭제</button></dd>
                    </li>`,
add_img_li = () => {
    $('#banner-ul').append( banner_li.co_split({ index: banner_index++ }) );
    sort_items();
},
co_modifySortNo = ( obj, index ) => {
    obj.prop('name', obj.prop('name').replace(/\[\d\]/, `[${index}]`) );
},
sort_items = () => {
    $('.banner-rename').each(function(k, v){
        const id = $(this).prop('id');
        $(`#${id} :input`).each(function(){
            co_modifySortNo( $(this), k );
        });
    });
},
size_span = (val) => {
    switch( val ){
        case 'px' :
            $('.span-height').removeClass('hide');
        break;
        case '%' :
            $('.span-height').addClass('hide');
            $('input[name="height"]').val('');
        break;
    }
    
},
banner_preview = () => {
    let html = `<ul class="swiper-wrapper">`;
    $('.banner-rename').each(function(){
        html += `<li class="swiper-slide"><img src="${$(this).find('img').prop('src')}"></li>`;
    });
    html += `</ul>`;

    if( $(':radio[name="pagination"]:checked').val() == 'y' ) 
        html += `<div class="swiper-pagination"></div>`;
    if( $(':radio[name="buttons"]:checked').val() == 'y' ) 
        html += `<div class="swiper-button-next"></div><div class="swiper-button-prev"></div>`;

    $('#banner-preview').html(html);      
    new Swiper('#banner-preview', {
        slidesPerView: 1,
        spaceBetween: 30,
        effect: $(':radio[name="effect"]:checked').val(),
        loop: true,
        centeredSlides: true,
        speed: Number($('select[name="speed"]').val()),
        autoplay: {
          delay: (Number($('select[name="time"]').val()) * 1000),
          disableOnInteraction: false,
        },
        pagination: {el: ".swiper-pagination", clickable: true,},
        navigation: {nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev",},
    });
    
};
let banner_index = <?=isset($data['data'])?count($data['data']):0?>;
</script>