<div class="head-title">
	<h4>기본정보</h4>
    <button type="button" onclick="$('#frm').submit()" class="btn btn-save">저장</button>
</div>

<div class="content">
    <form id="frm" action="/requst-post-normal" method="post" enctype="multipart/form-data" target="ifrm">
        <input type="hidden" name="<?=csrf_token()?>" value="<?=csrf_hash()?>">
        <input type="hidden" name="ano" value="<?=$data['ano']??''?>">
        <input type="hidden" name="group" value="config">
        <input type="hidden" name="code" value="info">
        <input type="hidden" name="table" value="config">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>기본설정</h5>
                    </div>
                    <div class="card-body">
                        <table class="table-col">
                            <colgroup>
                                <col width="170px">
                                <col>
                                <col width="170px">
                                <col>
                            </colgroup>
                            <tr>
                                <th>사이트명</th>
                                <td><input name="data[name]" type="text" value="<?=$data['data']['name']??''?>"></td>
                                <th>상단 타이틀</th>
                                <td><input name="data[title]" type="text" value="<?=$data['data']['title']??''?>"></td>
                            </tr>
                            <tr>
                                <th>Copyright</th>
                                <td><input name="data[copy]" type="text" value="<?=$data['data']['copy']??''?>"></td>
                                <th>파비콘</th>
                                <td>
                                    <img src="<?=$data['data']['favicon']['path']??''?>" style="max-width: 30px;" id="preview0">
                                    <input name="data[favicon][name]" type="hidden" value="<?=$data['data']['favicon']['name']??''?>">
                                    <input name="data[favicon][path]" type="hidden" value="<?=$data['data']['favicon']['path']??''?>">
                                    <input type="file" id="file0" data-preview="preview0" name="data[favicon]" class="hide" onchange="upload_file(this)"accept=".png,.ico">
                                    <label for="file0" type="button" class="btn-file"></label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>회사정보</h5>
                    </div>
                    <div class="card-body">
                        <table class="table-col">
                            <colgroup>
                                <col width="170px">
                                <col>
                                <col width="170px">
                                <col>
                            </colgroup>
                            <tr>
                                <th>상호(회사명)</th>
                                <td><input name="data[company][name]" type="text" value="<?=$data['data']['company']['name']??''?>"></td>
                                <th>사업자등록번호</th>
                                <td><input name="data[company][number]" class="bizNo" type="text" value="<?=$data['data']['company']['number']??''?>"></td>
                            </tr>
                            <tr>
                                <th>대표자명</th><td><input name="data[company][ceo]" type="text" value="<?=$data['data']['company']['ceo']??''?>"></td>
                                <th>대표메일</th><td><input name="data[company][email]" type="text" value="<?=$data['data']['company']['email']??''?>"></td>
                            </tr>
                            <tr>
                                <th>대표전화</th><td><input name="data[company][tel]" class="phone" type="text" value="<?=$data['data']['company']['tel']??''?>"></td>
                                <th>팩스번호</th><td><input name="data[company][fax]" class="phone" type="text" value="<?=$data['data']['company']['fax']??''?>"></td>
                            </tr>
                            <tr>
                                <th>업태</th><td><input name="data[company][service]" type="text" value="<?=$data['data']['company']['service']??''?>"></td>
                                <th>종목</th><td><input name="data[company][item]" type="text" value="<?=$data['data']['company']['item']??''?>"></td>
                            </tr>
                            <tr>
                                <th>사업장주소</th>
                                <td colspan="3">
                                    <input name="data[company][post]" type="text" value="<?=$data['data']['company']['post']??''?>" style="width: 100px;" id="company-post" onclick="set_post(this)" data-post="data[company][post]" data-add="data[company][address]" data-focus="data[company][address2]" readonly>
                                    <label for="company-post" class="btn btn-gray btn-md" style="margin-left:-3px;">우편번호검색</label>
                                    <br>
                                    <input name="data[company][address]" type="text" value="<?=$data['data']['company']['address']??''?>" readonly>
                                    <input name="data[company][address2]" type="text" value="<?=$data['data']['company']['address2']??''?>"  style="width: 150px;">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>개인정보 보호책임자</h5>
                    </div>
                    <div class="card-body">
                        <table class="table-col">
                            <colgroup>
                                <col width="170px">
                                <col>
                                <col width="170px">
                                <col>
                            </colgroup>
                            <tr>
                                <th>이름</th>
                                <td><input name="data[private][name]" type="text" value="<?=$data['data']['private']['name']??''?>"></td>
                                <th>직책</th>
                                <td><input name="data[private][position]" type="text" value="<?=$data['data']['private']['position']??''?>"></td>
                            </tr>
                            <tr>
                                <th>전화번호</th>
                                <td><input name="data[private][tel]" class="phone" type="text" value="<?=$data['data']['private']['tel']??''?>"></td>
                                <th>이메일</th>
                                <td><input name="data[private][email]" type="text" value="<?=$data['data']['private']['email']??''?>"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>고객센터</h5>
                    </div>
                    <div class="card-body">
                        <table class="table-col">
                            <colgroup>
                                <col width="170px">
                                <col>
                                <col width="170px">
                                <col>
                            </colgroup>
                            <tr>
                                <th>전화번호</th>
                                <td>
                                    <input name="data[cs][tel]" class="phone" type="text" value="<?=$data['data']['cs']['tel']??''?>">
                                </td>
                                <th>팩스번호</th>
                                <td><input name="data[cs][fax]" class="phone" type="text" value="<?=$data['data']['cs']['fax']??''?>"></td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td colspan="3"><input name="data[cs][email]" type="text" value="<?=$data['data']['cs']['email']??''?>"></td>
                            </tr>
                            <tr>
                                <th>운영시간</th>
                                <td colspan="3">
                                    <label style="display: inline-block; width: 80px;">평일 :</label>
                                    <input name="data[cs][day]" type="text" value="<?=$data['data']['cs']['day']??''?>" style="margin-bottom: 5px;"><br>
                                    <label style="display: inline-block; width: 80px;">주말 :</label>
                                    <input name="data[cs][wend]" type="text" value="<?=$data['data']['cs']['wend']??''?>" style="margin-bottom: 5px;"><br>
                                    <label style="display: inline-block; width: 80px;">공휴일 :</label>
                                    <input name="data[cs][hlday]" type="text" value="<?=$data['data']['cs']['hlday']??''?>" style="margin-bottom: 5px;"><br>
                                    <label style="display: inline-block; width: 80px;">점심시간 :</label>
                                    <input name="data[cs][lunch]" type="text" value="<?=$data['data']['cs']['lunch']??''?>">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>