<div class="head-title">
	<h4>테그관리</h4>
    <button type="button" onclick="$('#frm').submit()" class="btn btn-save">저장</button>
</div>

<div class="content">
    <div class="row">
        <div class="col-12">
            <form id="frm" method="POST" action="/requst-post-normal" target="ifrm">
                <input type="hidden" name="<?=csrf_token()?>" value="<?=csrf_hash()?>">
                <input type="hidden" name="ano" value="<?=$data['ano']??''?>">
                <input type="hidden" name="group" value="infos">
                <input type="hidden" name="code" value="meta">
                <input type="hidden" name="table" value="config">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <table class="table-col">
                            <colgroup>
                                <col width="170px">
                                <col>
                            </colgroup>
                            <tr>
                                <th>메타테그</th>
                                <td>
                                    <textarea name="data[meta]" ><?=$data['data']['meta']??''?></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>스크립트</th>
                                <td>
                                    <textarea name="data[script]" ><?=$data['data']['script']??''?></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>