<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5><?=$cfg['name']?></h5>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>작성자</th><td><?=esc($data['user_id'])??'관리자'?></td>
                            <th>작성일시</th><td><?=$data['regDt']?></td>
                        </tr>
                        <tr>
                            <th>아이피</th><td><?=$data['ip']?></td>
                            <th>조회수</th><td><?=number_format($data['hit'])?></td>
                        </tr>
                        <tr>
                            <th>시작일</th><td><?=$data['sdate']??'-'?></td>
                            <th>종료일</th><td><?=$data['edate']??'-'?></td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td colspan="3"><?=$data['horse']?'['.$data['horse'].'] ':''?> <?=esc($data['title'])?></td>
                        </tr>
                        <tr>
                            <th>유튜브</th>
                            <td colspan="3"><?=$data['youtube'] ? '<a href="'.$data['youtube'].'" target="_blank">'.$data['youtube'].'</a>' : '-'?></td>
                            
                        </tr>
                        <tr>
                            <th>썸네일</th>
                            <td>
                                <?=isset($data['thumbnail']['path'])&&$data['thumbnail']['path']?'<a href="'.$data['thumbnail']['path'].'"  target="_blank" >보기</a>':'-'?>
                                
                            </td>
                            <th>첨부파일</th>
                            <td>
                                <?=isset($data['file']['name'])&&$data['file']['name']?'<a href="/file-down?from='.$data['file']['path'].'&&to='.$data['file']['name'].'" class="file-down">다운로드</a>':'-'?>
                            </td>
                        </tr>
    
                        <?php if( isset($data['etc']) && is_array( $data['etc'] ) ) : ?>
                        <tr>
                            <th>휴대폰</th>
                            <td><?=esc($data['etc']['phone']??'')?></td>
                            <th>전화번호</th>
                            <td><?=esc($data['etc']['tel']??'')?></td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td colspan="3"><?=esc($data['etc']['email']??'')?></td>
                        </tr>
                        <?php endif; ?>
                        <tr>
                            <th>내용</th>
                            <td colspan="3">
                                <div style="min-height: 300px;"><?=$data['content']?></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a href="/admin/board/content-regist?code=<?=$_GET['code']?>&ano=<?=$data['ano']?>" class="btn btn-white btn-md">수정</a>
                    <a href="/admin/board/content-regist?code=<?=$_GET['code']?>&parent=<?=$data['ano']?>" class="btn btn-white btn-md">답글</a>
                </div>
            </div>
        </div>
    </div>
</div>