<div class="head-title">
	<h4>게시글관리</h4>
    <a href="/admin/board/content-regist?code=<?=$_GET['code']?>" style="float: right" class="btn btn-add">등록</a>
</div>

<div class="content">
    <div class="row">
        <div class="col-12">
            <form method="get" action="?" >
            <div class="card">
                <div class="card-header">
                    <h5 class="icon-search4" style="display: inline-block;"> 검색</h5>
                    <select name="code" style="margin-left: 20px;">
                        <?php
                        foreach($codes as $row) :
                            $selected = $row['code'] == $_GET['code'] ? 'selected' : '';
                        ?>
                        <option value="<?=$row['code']?>" <?=$selected?>><?=$row['name']?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>제목검색</th>
                            <td>
                                <?php if( count($horse) ) : ?>
                                <select name="horse">
                                    <option value="">말머리</option>
                                    <?php
                                    foreach($horse as $val) :
                                        $selected = isset( $_GET['horse'] ) && $val == $_GET['horse'] ? 'selected' : '';
                                    ?>
                                    <option value="<?=$val?>" <?=$selected?>><?=$val?></option>
                                    <?php endforeach;?>
                                </select>
                                <?php endif; ?>
                                <input name="key" type="hidden" value="title">
                                <input name="keyword" type="text" value="<?=$_GET['keyword']??''?>">
                            </td>
                        </tr>
                        <tr>
                            <th>기간검색</th>
                            <td>
                                <input name="sDate" type="date" class="date" value="<?=$_GET['sDate']??''?>">
                                ~
                                <input name="eDate" type="date" class="date" value="<?=$_GET['eDate']??''?>">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-find">검색</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="icon-paragraph-justify3"> 리스트</h5>
                </div>
                <div class="card-body">
                    <div class="body-header header-elements-inline">
                        <div class="header-total">
                            검색 <span><?=isset($page)?number_format($page->getTotal()):0?></span>
                            /
                            전체 <span><?=isset($total)?number_format($total):0?></span>
                        </div>
                        <?=per_page($_GET['perPage'])?>
                    </div>
                    <table class="table-row">
                        <colgroup>
                            <col width="1%">
                            <col>
                            <col width="10%">
                            <col width="130px">
                        </colgroup>
                        <thead>
                            <th><input type="checkbox" id="all" class="js-all-click" data-target="anos[]">
                                <label for="all"></label></th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>등록일</th>
                        </thead>
                        <tbody>
                            <?php
                            if( isset($data) && count($data) ) :
                                foreach( $data as $row ) :
                            ?>
                            <tr>
                                <td class="text-center">
                                    <input name="anos[]" type="checkbox" id="ano-<?=$row['ano']?>" value="<?=$row['ano']?>">
                                    <label for="ano-<?=$row['ano']?>"></label>
                                </td>
                                <td>
    
                                    <?=$row['sorts']!=0?'<span class="fad fa-arrow-alt-right" style="margin-left: '.$row['depth'].'0px;"></span>':''?>
                                    
    
                                    <?=$row['is_notice']=='y'?'<span class="badge bg-success" style="margin-right: 10px;">공지</span>':''?>
                                    <a href="/admin/board/content-read?code=<?=$_GET['code']?>&ano=<?=$row['ano']?>">
                                    <?=$row['horse']?'['.$row['horse'].'] ':''?>
                                    <?=esc($row['title'])?>
                                    </a>
                                </td>
                                <td class="text-center"><?=$row['writer']?></td>
                                <td class="text-center"><?=substr($row['regDt'], 0, 10)?></td>
                            </tr>
                            <?php
                                endforeach;
                            else :
                            ?>
                            <tr>
                                <td class="text-center" colspan="4">검색결과가 없습니다.</td>
                            </tr>
                            <?php endif; ?>
                        </tbody>
                        <tfoot>
                            <td colspan="4">
                                <label class="label-checked"></label>
                                <button type="button" data-code="<?=$_GET['code']?>" class="btn btn-white btn-sm js-del-content">삭제</button>
                            </td>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <?=isset($page) ? $page->links() : '' ?>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $(document).on('change', 'select[name="code"]', function(){
            window.location.href = '?code='+$(this).val();
        })
    })
    </script>