<div class="head-title">
	<h4>FAQ</h4>
    <a href="/admin/board/faq-regist" class="btn btn-add">등록</a>
</div>

<div class="content">
    <div class="row">
        <div class="col-12">
            <form method="get" action="?">
            <div class="card">
                <div class="card-header">
                    <h2 class="icon-search4"> 검색</h2>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>제목검색</th>
                            <td>
                                <input name="question" type="text" value="<?=$_GET['question']??''?>">
                            </td>
                        </tr>
                        <tr>
                            <th>기간검색</th>
                            <td>
                                <input name="sDate" type="date" value="<?=$_GET['sDate']??''?>"> ~
                                <input name="eDate" type="date" value="<?=$_GET['eDate']??''?>">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-find" >검색</button>
                </div>
            </div>
            </form>
        </div>
        
        
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="icon-paragraph-justify3"> 리스트</h2>
                </div>
                <div class="card-body">
                    <div class="body-header header-elements-inline">
                        <div class="header-total">
                            검색 <span><?=isset($page)?number_format($page->getTotal()):0?></span>
                            /
                            전체 <span><?=isset($total)?number_format($total):0?></span>
                        </div>
                        <?=per_page($_GET['perPage'])?>
                    </div>
                    <table class="table-row">
                        <colgroup>
                            <col width="1%">
                            <col width="5%">
                            <col >
                            <col width="5%">
                        </colgroup>
                        <thead>
                            <th><input type="checkbox" id="all" class="js-all-click" data-target="anos[]"><label for="all"></label></th>
                            <th>순서</th>
                            <th>질문</th>
                            
                            <th>수정</th>
                        </thead>
                        <tbody>
                            <?php
                            if( isset($data) && count($data) ) :
                                foreach( $data as $row ) :
                            ?>
                            <tr>
                                <td class="text-center"><input type="checkbox" name="anos[]" value="<?=$row['ano']?>" id="ano-<?=$row['ano']?>"><label for="ano-<?=$row['ano']?>"></label></td>
                                <td class="text-right" ><?=$row['sort']?></td>
                                <td >
                                    <a href="#." class="view-answer" data-ano="<?=$row['ano']?>"><?=$row['question']?></a>
                                    <div class="answer-<?=$row['ano']?>">
                                        <?=$row['answer']?>
                                    </div>
                                </td>
                                
                                <td class="text-center">
                                    <a href="/admin/board/faq-regist?ano=<?=$row['ano']?>" class="btn btn-sm btn-white">수정</a>
                                </td>
                            </tr>
                            <?php
                                endforeach;
                            else :
                            ?>
                            <tr>
                                <td class="text-center" colspan="4">검색된 글이 없습니다.</td>
                            </tr>
                            <?php endif; ?>
                        </tbody>
                        <tfoot>
                            <td colspan="13">
                                <label class="label-checked"></label>
                                <button type="button" class="btn btn-white btn-sm js-del-row" data-table="faq">삭제</button>
                            </td>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <?=isset($page) ? $page->links() : '' ?>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    [class^="answer"] {
        display: none;
        width: 100%;
        border: 1px #ccc solid;
        padding: 10px;
        margin: 10px 0;
        box-sizing: border-box
    }
    
    </style>
    
<script>
    $(function(){
        $(document).on('click', '.view-answer', function(){
            $('[class^="answer"]').slideUp();
            $(`.answer-${$(this).data('ano')}`).slideDown();
        });
    });
    </script>