<div class="head-title">
	<h4>FAQ</h4>
    <button type="button" onclick="$('#frms').submit()" class="btn btn-save">저장</button>
</div>

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5>문의</h5>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>작성자</th><td><?=$data['user_id']?></td>
                            <th>작성일시</th><td><?=$data['regDt']?></td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td><?=esc($data['title'])?></td>
                            <th>첨부파일</th>
                            <td><?=isset($data['quesFile']['name'])&&$data['quesFile']['name']?'<a href="/file-down?from='.$data['quesFile']['path'].'&&to='.$data['quesFile']['name'].'" class="file-down">다운로드</a>':'파일 없음'?></td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td colspan="3">
                                <div style="min-height: 200px;"><?=$data['question']?></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <form id="frms" action="/requst-post-normal" method="post" enctype="multipart/form-data" target="ifrm">
    <input type="hidden" name="<?=csrf_token()?>" value="<?=csrf_hash()?>">
    <input type="hidden" name="ano" value="<?=$data['ano']??''?>">
    <input type="hidden" name="table" value="qna">
    <input type="hidden" name="sendmail" value="<?=$data['user_id']??''?>">
    <input type="hidden" name="admin_id" value="<?=session('manager.email')?>">
    <input type="hidden" name="return" value="/admin/board/qna-list">
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5>답변</h5>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <col width="170px">
                            <col>
                        <tr>
                            <th>첨부파일</th>
                            <td>
                                <input name="ansFile[name]" type="hidden" value="<?=$data['ansFile']['name']??''?>">
                                <input name="ansFile[path]" type="hidden" value="<?=$data['ansFile']['path']??''?>">
                                <img src="<?=$data['ansFile']['path']??''?>" style="max-height:30px;" id="preview0" class="img-blank">
                                <input name="ansFile" type="file" id="file0" data-preview="preview0" class="hide" onchange="upload_file(this)" autocomplete="off">
                                <label for="file0" type="button" class="btn-file"></label>
                                <?=isset($data['ansFile']['name'])&&$data['ansFile']['name']?'<a href="/file-down?from='.$data['ansFile']['path'].'&&to='.$data['ansFile']['name'].'" class="file-down">다운로드</a>':''?>
                                
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>
                                <textarea name="answer" id="editor"><?=$data['answer']?></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

<script>
CKEDITOR.replace('editor',editor_param).on('dialogDefinition',function(ev){editor_img_chek(ev)});
$('#frms').validate({
    rules: {
        answer: {required: function(){
        CKEDITOR.instances.editor.updateElement();
        }}
    }
})
</script>