<div class="head-title">
	<h4>가입정보</h4>
    <button type="submit" onclick="$('#frm').submit()" class="btn btn-save">저장</button>
</div>

<div class="content">
    <div class="row">
        <form id="frm" method="post" action="/requst-post-normal" target="ifrm">
        <input type="hidden" name="<?=csrf_token()?>" value="<?=csrf_hash()?>">
        <input type="hidden" name="table" value="config">
        <input type="hidden" name="ano" value="<?=$data['ano']??''?>">
        <input type="hidden" name="group" value="member">
        <input type="hidden" name="code" value="join">
        <div class="col-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5>필수항목</h5>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>가입승인</th>
                            <td>
                                <input name="data[app]" type="radio" value="y" id="app-y" checked>
                                <label for="app-y">승인 절차 없이 가입</label>
                                <select name="data[appLv]" <?=isset($data['data']['app'])&&$data['data']['app']=='n'?'disabled':''?>>
                                    <?php foreach( $level as $row ) : ?>
                                    <option value="<?=$row['level']?>"><?=$row['name']?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input name="data[app]" type="radio" value="n" id="app-n" <?=isset($data['data']['app'])&&$data['data']['app']=='n'?'checked':''?>>
                                <label for="app-n" style="margin-left: 20px;">승인 후 가입</label>
                            </td>
                        </tr>
                        <tr>
                            <th>아이디 형식</th>
                            <td>
                                <input name="data[id]" type="radio" value="email" id="id-email" checked>
                                <label for="id-email">이메일</label>
                                <input name="data[id]" type="radio" value="id" id="id-id" <?=isset($data['data']['id'])&&$data['data']['id']=='id'?'checked':''?>>
                                <label for="id-id">아이디</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 style="float: left; margin-right: 20px;">기본정보</h5>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input name="data[personal][name]" type="radio" value="y" id="personal-name-y" checked>
                                <label for="personal-name-y">선택</label>
                                <input name="data[personal][name]" type="radio" value="m" id="personal-name-m" <?=isset($data['data']['personal']['name'])&&$data['data']['personal']['name']=='m'?'checked':''?>>
                                <label for="personal-name-m">필수</label>
                                <input name="data[personal][name]" type="radio" value="n" id="personal-name-n" <?=isset($data['data']['personal']['name'])&&$data['data']['personal']['name']=='n'?'checked':''?>>
                                <label for="personal-name-n">사용안함</label>
                            </td>
                            <th>닉네임</th>
                            <td>
                                <input name="data[personal][nick]" type="radio" value="y" id="personal-nick-y" checked>
                                <label for="personal-nick-y">선택</label>
                                <input name="data[personal][nick]" type="radio" value="m" id="personal-nick-m" <?=isset($data['data']['personal']['nick'])&&$data['data']['personal']['nick']=='m'?'checked':''?>>
                                <label for="personal-nick-m">필수</label>
                                <input name="data[personal][nick]" type="radio" value="n" id="personal-nick-n" <?=isset($data['data']['personal']['nick'])&&$data['data']['personal']['nick']=='n'?'checked':''?>>
                                <label for="personal-nick-n">사용안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td>
                                <input name="data[personal][email]" type="radio" value="y" id="personal-email-y" checked <?=!(isset($data['data']['id'])&&$data['data']['id']=='id')?'disabled':''?>>
                                <label for="personal-email-y">선택</label>
                                <input name="data[personal][email]" type="radio" value="m" id="personal-email-m" <?=isset($data['data']['personal']['email'])&&$data['data']['personal']['email']=='m'?'checked':''?> <?=!(isset($data['data']['id'])&&$data['data']['id']=='id')?'disabled':''?>>
                                <label for="personal-email-m">필수</label>
                                <input name="data[personal][email]" type="radio" value="n" id="personal-email-n" <?=isset($data['data']['personal']['email'])&&$data['data']['personal']['email']=='n'?'checked':''?> <?=!(isset($data['data']['id'])&&$data['data']['id']=='id')?'disabled':''?>>
                                <label for="personal-email-n">사용안함</label>
                            </td>
                            <th>주소</th>
                            <td>
                                <input name="data[personal][add]" type="radio" value="y" id="personal-add-y" checked>
                                <label for="personal-add-y">선택</label>
                                <input name="data[personal][add]" type="radio" value="m" id="personal-add-m" <?=isset($data['data']['personal']['add'])&&$data['data']['personal']['add']=='m'?'checked':''?>>
                                <label for="personal-add-m">필수</label>
                                <input name="data[personal][add]" type="radio" value="n" id="personal-add-n" <?=isset($data['data']['personal']['add'])&&$data['data']['personal']['add']=='n'?'checked':''?>>
                                <label for="personal-add-n">사용안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>
                                <input name="data[personal][tel]" type="radio" value="y" id="personal-tel-y" checked>
                                <label for="personal-tel-y">선택</label>
                                <input name="data[personal][tel]" type="radio" value="m" id="personal-tel-m" <?=isset($data['data']['personal']['tel'])&&$data['data']['personal']['tel']=='m'?'checked':''?>>
                                <label for="personal-tel-m">필수</label>
                                <input name="data[personal][tel]" type="radio" value="n" id="personal-tel-n" <?=isset($data['data']['personal']['tel'])&&$data['data']['personal']['tel']=='n'?'checked':''?>>
                                <label for="personal-tel-n">사용안함</label>
                            </td>
                            <th>휴대폰</th>
                            <td>
                                <input name="data[personal][phone]" type="radio" value="y" id="personal-phone-y" checked>
                                <label for="personal-phone-y">선택</label>
                                <input name="data[personal][phone]" type="radio" value="m" id="personal-phone-m" <?=isset($data['data']['personal']['phone'])&&$data['data']['personal']['phone']=='m'?'checked':''?>>
                                <label for="personal-phone-m">필수</label>
                                <input name="data[personal][phone]" type="radio" value="n" id="personal-phone-n" <?=isset($data['data']['personal']['phone'])&&$data['data']['personal']['phone']=='n'?'checked':''?>>
                                <label for="personal-phone-n">사용안함</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 style="float: left; margin-right: 20px;">사업자정보</h5>
                    <input name="data[biz][use]" type="radio" value="y" id="biz-use-y" class="use-type" data-target="biz" checked>
                    <label for="biz-use-y">사용함</label>
                    <input name="data[biz][use]" type="radio" value="n" class="use-type" data-target="biz" id="biz-use-n" <?=isset($data['data']['biz']['use'])&&$data['data']['biz']['use']=='n'?'checked':''?>>
                    <label for="biz-use-n">사용안함</label>
                </div>
                <div class="card-body biz-div <?=isset($data['data']['biz']['use'])&&$data['data']['biz']['use']=='n'?'hide':''?>">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>상호</th>
                            <td>
                                <input name="data[biz][compNm]" type="radio" value="y" id="biz-compNm-y" checked>
                                <label for="biz-compNm-y">선택</label>
                                <input name="data[biz][compNm]" type="radio" value="m" id="biz-compNm-m" <?=isset($data['data']['biz']['compNm'])&&$data['data']['biz']['compNm']=='m'?'checked':''?>>
                                <label for="biz-compNm-m">필수</label>
                                <input name="data[biz][compNm]" type="radio" value="n" id="biz-compNm-n" <?=isset($data['data']['biz']['compNm'])&&$data['data']['biz']['compNm']=='n'?'checked':''?>>
                                <label for="biz-compNm-n">사용안함</label>
                            </td>
                            <th>사업자번호</th>
                            <td>
                                <input name="data[biz][compNo]" type="radio" value="y" id="biz-compNo-y" checked>
                                <label for="biz-compNo-y">선택</label>
                                <input name="data[biz][compNo]" type="radio" value="m" id="biz-compNo-m" <?=isset($data['data']['biz']['compNo'])&&$data['data']['biz']['compNo']=='m'?'checked':''?>>
                                <label for="biz-compNo-m">필수</label>
                                <input name="data[biz][compNo]" type="radio" value="n" id="biz-compNo-n" <?=isset($data['data']['biz']['compNo'])&&$data['data']['biz']['compNo']=='n'?'checked':''?>>
                                <label for="biz-compNo-n">사용안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th>대표자명</th>
                            <td>
                                <input name="data[biz][ceoNm]" type="radio" value="y" id="biz-ceoNm-y" checked>
                                <label for="biz-ceoNm-y">선택</label>
                                <input name="data[biz][ceoNm]" type="radio" value="m" id="biz-ceoNm-m" <?=isset($data['data']['biz']['ceoNm'])&&$data['data']['biz']['ceoNm']=='m'?'checked':''?>>
                                <label for="biz-ceoNm-m">필수</label>
                                <input name="data[biz][ceoNm]" type="radio" value="n" id="biz-ceoNm-n" <?=isset($data['data']['biz']['ceoNm'])&&$data['data']['biz']['ceoNm']=='n'?'checked':''?>>
                                <label for="biz-ceoNm-n">사용안함</label>
                            </td>
                            <th>사업장주소</th>
                            <td>
                                <input name="data[biz][add]" type="radio" value="y" id="biz-add-y" checked>
                                <label for="biz-add-y">선택</label>
                                <input name="data[biz][add]" type="radio" value="m" id="biz-add-m" <?=isset($data['data']['biz']['add'])&&$data['data']['biz']['add']=='m'?'checked':''?>>
                                <label for="biz-add-m">필수</label>
                                <input name="data[biz][add]" type="radio" value="n" id="biz-add-n" <?=isset($data['data']['biz']['add'])&&$data['data']['biz']['add']=='n'?'checked':''?>>
                                <label for="biz-add-n">사용안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th>업태</th>
                            <td>
                                <input name="data[biz][service]" type="radio" value="y" id="biz-service-y" checked>
                                <label for="biz-service-y">선택</label>
                                <input name="data[biz][service]" type="radio" value="m" id="biz-service-m" <?=isset($data['data']['biz']['service'])&&$data['data']['biz']['service']=='m'?'checked':''?>>
                                <label for="biz-service-m">필수</label>
                                <input name="data[biz][service]" type="radio" value="n" id="biz-service-n" <?=isset($data['data']['biz']['service'])&&$data['data']['biz']['service']=='n'?'checked':''?>>
                                <label for="biz-service-n">사용안함</label>
                            </td>
                            <th>종목</th>
                            <td>
                                <input name="data[biz][item]" type="radio" value="y" id="biz-item-y" checked>
                                <label for="biz-item-y">선택</label>
                                <input name="data[biz][item]" type="radio" value="m" id="biz-item-m" <?=isset($data['data']['biz']['item'])&&$data['data']['biz']['item']=='m'?'checked':''?>>
                                <label for="biz-item-m">필수</label>
                                <input name="data[biz][item]" type="radio" value="n" id="biz-item-n" <?=isset($data['data']['biz']['item'])&&$data['data']['biz']['item']=='n'?'checked':''?>>
                                <label for="biz-item-n">사용안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>
                                <input name="data[biz][tel]" type="radio" value="y" id="biz-tel-y" checked>
                                <label for="biz-tel-y">선택</label>
                                <input name="data[biz][tel]" type="radio" value="m" id="biz-tel-m" <?=isset($data['data']['biz']['tel'])&&$data['data']['biz']['tel']=='m'?'checked':''?>>
                                <label for="biz-tel-m">필수</label>
                                <input name="data[biz][tel]" type="radio" value="n" id="biz-tel-n" <?=isset($data['data']['biz']['tel'])&&$data['data']['biz']['tel']=='n'?'checked':''?>>
                                <label for="biz-tel-n">사용안함</label>
                            </td>
                            <th>사업자등록증</th>
                            <td>
                                <input name="data[biz][file]" type="radio" value="y" id="biz-file-y" checked>
                                <label for="biz-file-y">선택</label>
                                <input name="data[biz][file]" type="radio" value="m" id="biz-file-m" <?=isset($data['data']['biz']['file'])&&$data['data']['biz']['file']=='m'?'checked':''?>>
                                <label for="biz-file-m">필수</label>
                                <input name="data[biz][file]" type="radio" value="n" id="biz-file-n" <?=isset($data['data']['biz']['file'])&&$data['data']['biz']['file']=='n'?'checked':''?>>
                                <label for="biz-file-n">사용안함</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 style="float: left; margin-right: 20px;">부가정보</h5>
                    <input name="data[etc][use]" type="radio" value="y" id="etc-use-y" class="use-type" data-target="etc" checked>
                    <label for="etc-use-y">사용함</label>
                    <input name="data[etc][use]" type="radio" value="n" id="etc-use-n" class="use-type" data-target="etc" <?=isset($data['data']['etc']['use'])&&$data['data']['etc']['use']=='n'?'checked':''?>>
                    <label for="etc-use-n">사용안함</label>
                </div>
                <div class="card-body">
                    <table class="table-col etc-div  <?=isset($data['data']['etc']['use'])&&$data['data']['etc']['use']=='n'?'hide':''?>">
                        <colgroup>
                            <col width="170px">
                            <col>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>생일</th>
                            <td>
                                <input name="data[etc][birthday]" type="radio" value="y" id="etc-birthday-y" checked>
                                <label for="etc-birthday-y">선택</label>
                                <input name="data[etc][birthday]" type="radio" value="m" id="etc-birthday-m" <?=isset($data['data']['etc']['birthday'])&&$data['data']['etc']['birthday']=='m'?'checked':''?>>
                                <label for="etc-birthday-m">필수</label>
                                <input name="data[etc][birthday]" type="radio" value="n" id="etc-birthday-n" <?=isset($data['data']['etc']['birthday'])&&$data['data']['etc']['birthday']=='n'?'checked':''?>>
                                <label for="etc-birthday-n">사용안함</label>
                            </td>
                            <th>성별</th>
                            <td>
                                <input name="data[etc][gender]" type="radio" value="y" id="etc-gender-y" checked>
                                <label for="etc-gender-y">선택</label>
                                <input name="data[etc][gender]" type="radio" value="m" id="etc-gender-m" <?=isset($data['data']['etc']['gender'])&&$data['data']['etc']['gender']=='m'?'checked':''?>>
                                <label for="etc-gender-m">필수</label>
                                <input name="data[etc][gender]" type="radio" value="n" id="etc-gender-n" <?=isset($data['data']['etc']['gender'])&&$data['data']['etc']['gender']=='n'?'checked':''?>>
                                <label for="etc-gender-n">사용안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th>팩스번호</th>
                            <td>
                                <input name="data[etc][fax]" type="radio" value="y" id="etc-fax-y" checked>
                                <label for="etc-fax-y">선택</label>
                                <input name="data[etc][fax]" type="radio" value="m" id="etc-fax-m" <?=isset($data['data']['etc']['fax'])&&$data['data']['etc']['fax']=='m'?'checked':''?>>
                                <label for="etc-fax-m">필수</label>
                                <input name="data[etc][fax]" type="radio" value="n" id="etc-fax-n" <?=isset($data['data']['etc']['fax'])&&$data['data']['etc']['fax']=='n'?'checked':''?>>
                                <label for="etc-fax-n">사용안함</label>
                            </td>
                            <th>결혼여부</th>
                            <td>
                                <input name="data[etc][marriage]" type="radio" value="y" id="etc-marriage-y" checked>
                                <label for="etc-marriage-y">선택</label>
                                <input name="data[etc][marriage]" type="radio" value="m" id="etc-marriage-m" <?=isset($data['data']['etc']['marriage'])&&$data['data']['etc']['marriage']=='m'?'checked':''?>>
                                <label for="etc-marriage-m">필수</label>
                                <input name="data[etc][marriage]" type="radio" value="n" id="etc-marriage-n" <?=isset($data['data']['etc']['marriage'])&&$data['data']['etc']['marriage']=='n'?'checked':''?>>
                                <label for="etc-marriage-n">사용안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th>직업</th>
                            <td>
                                <input name="data[etc][job]" type="radio" value="y" id="etc-job-y" checked>
                                <label for="etc-job-y">선택</label>
                                <input name="data[etc][job]" type="radio" value="m" id="etc-job-m" <?=isset($data['data']['etc']['job'])&&$data['data']['etc']['job']=='m'?'checked':''?>>
                                <label for="etc-job-m">필수</label>
                                <input name="data[etc][job]" type="radio" value="n" id="etc-job-n" <?=isset($data['data']['etc']['job'])&&$data['data']['etc']['job']=='n'?'checked':''?>>
                                <label for="etc-job-n">사용안함</label>
                            </td>
                            <th>관심분야</th>
                            <td>
                                <input name="data[etc][interest]" type="radio" value="y" id="etc-interest-y" checked>
                                <label for="etc-interest-y">선택</label>
                                <input name="data[etc][interest]" type="radio" value="m" id="etc-interest-m" <?=isset($data['data']['etc']['interest'])&&$data['data']['etc']['interest']=='m'?'checked':''?>>
                                <label for="etc-interest-m">필수</label>
                                <input name="data[etc][interest]" type="radio" value="n" id="etc-interest-n" <?=isset($data['data']['etc']['interest'])&&$data['data']['etc']['interest']=='n'?'checked':''?>>
                                <label for="etc-interest-n">사용안함</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        $(document).on('change', 'input[name="data[app]"]', function(){
            switch( $(this).val() ){
                case 'y' : $('select[name="data[appLv]"]').prop('disabled', false); break;
                case 'n' : $('select[name="data[appLv]"]').prop('disabled', true);  break;
            }
        });
        $(document).on('click', '.use-type', function(){
            switch( $(this).val() ){
                case 'y' : $(`.${$(this).data('target')}-div`).removeClass('hide'); break;
                case 'n' : $(`.${$(this).data('target')}-div`).addClass('hide');  break;
            }
        })
        $(document).on('change', 'input[name="data[id]"]', function(){
            switch( $(this).val() ){
                case 'id' : $('input[name="data[personal][email]"]').prop('disabled', false); break;
                case 'email' : $('input[name="data[personal][email]"]').prop('disabled', true);  break;
            }
        });
        
        
    });
    </script>