<div class="head-title">
	<h4>회원등록</h4>
    <button type="submit" onclick="$('#frm').submit()" class="btn btn-save">저장</button>
</div>

<div class="content">
    <div class="row">
        <form id="frm" method="post" action="/requst-post-normal" enctype="multipart/form-data" target="ifrm">
        <input name="<?=csrf_token()?>" type="hidden" value="<?=csrf_hash()?>">
        <input name="ano" type="hidden" value="<?=$data['ano']??''?>">
        <input name="table" type="hidden" value="member">
        <input name="return" type="hidden" value="/admin/member/member-list">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>기본정보</h5>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                        </colgroup>
                    <tr>
                            <th>승인</th>
                            <td>
                                <input name="app" type="radio" value="y" id="app-y" checked>
                                <label for="app-y">승인</label>
                                <input name="app" type="radio" value="n" id="app-n" <?=isset($data['app'])&&$data['app']=='n'?'checked':''?>>
                                <label for="app-n">미승인</label>
                            </td>
                        </tr>
                        <tr>
                            <th>등급</th>
                            <td>
                                <select name="level">
                                    <?php
                                    foreach($level as $row) :
                                        $selected = isset($data['level']) && $data['level'] == $row['ano'] ? 'selected' : '';
                                    ?>
                                    <option value="<?=$row['ano']?>" <?=$selected?> ><?=$row['name']?></option>
                                    <?php endforeach; ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>아이디</th>
                            <td>
                                
                                <?=$data['id']??$data['socialId']??'<input name="id" type="text" value="">'?>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td id="pass-td">
                                <?=isset($data['ano'])?'<button type="button" class="btn btn-sm btn-gray" '.$disabled.'>변경</button>':'<input name="password" type="password" value="">'?>
                            </td>
                        </tr>
                        <?php if( $join['personal']['name'] != 'n' ) : ?>
                        <tr>
                            <th>이름</th>
                            <td><input name="info[name]" type="text" value="<?=$data['info']['name']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['personal']['nick'] != 'n' ) : ?>
                        <tr>
                            <th>닉네임</th>
                            <td><input name="info[nick]" type="text" value="<?=$data['info']['nick']??''?>"></td>
                        </tr>
                        <?php endif; if( isset($join['personal']['email']) && $join['personal']['email'] != 'n' ) : ?>
                        <tr>
                            <th>이메일</th>
                            <td><input name="info[email]" type="text" value="<?=$data['info']['email']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['personal']['phone'] != 'n' ) : ?>
                        <tr>
                            <th>휴대폰</th>
                            <td><input name="info[phone]" class="phone" type="text" value="<?=$data['info']['phone']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['personal']['tel'] != 'n' ) : ?>
                        <tr>
                            <th>전화번호</th>
                            <td><input name="info[tel]" class="phone" type="text" value="<?=$data['info']['tel']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['personal']['add'] != 'n' ) : ?>
                        <tr>
                            <th>주소</th>
                            <td>
                                <input name="info[add][post]" type="text" style="width: 100px;" id="info-add" onclick="set_post(this)" data-post="info[add][post]" data-add="info[add][head]" data-focus="info[add][tail]" value="<?=$data['info']['add']['post']??''?>" readonly>
                                <label for="info-add" class="btn btn-gray btn-md" style="margin-left:-1px;">우편번호검색</label><br>
                                <input name="info[add][head]" type="text" value="<?=$data['info']['add']['head']??''?>" readonly>
                                <input name="info[add][tail]" type="text" value="<?=$data['info']['add']['tail']??''?>" >
                            </td>
                        </tr>
                        <?php endif; ?>
                        <tr>
                            <th>관리자메모</th>
                            <td><input name="memo" type="text" style="width: 100%;" value="<?=$data['memo']??''?>" placeholder="255자까지 가능합니다."></td>
                        </tr>
                    </table>
                </div>
            </div>
    
            <?php if($join['biz']['use'] == 'y') : ?>
            <div class="card">
                <div class="card-header">
                    <h5>사업자정보</h5>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <?php if( $join['biz']['compNm'] != 'n' ) : ?>
                        <tr>
                            <th>상호</th>
                            <td><input name="biz[compNm]" type="text" value="<?=$data['biz']['compNm']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['biz']['compNo'] != 'n' ) : ?>
                        <tr>
                            <th>사업자번호</th>
                            <td><input name="biz[compNo]" class="bizNo" type="text" value="<?=$data['biz']['compNo']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['biz']['ceoNm'] != 'n' ) : ?>
                        <tr>
                            <th>대표자명</th>
                            <td><input name="biz[ceoNm]" type="text" value="<?=$data['biz']['ceoNm']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['biz']['add'] != 'n' ) : ?>
                        <tr>
                            <th>사업장주소</th>
                            <td>
                                <input name="biz[add][post]" type="text" style="width: 100px;" id="biz-add" onclick="set_post(this)" data-post="biz[add][post]" data-add="biz[add][head]" data-focus="biz[add][tail]" value="<?=$data['biz']['add']['post']??''?>" readonly>
                                <label for="biz-add" class="btn btn-gray btn-md" style="margin-left:-1px;">우편번호검색</label><br>
                                <input name="biz[add][head]" type="text" value="<?=$data['biz']['add']['head']??''?>" readonly>
                                <input name="biz[add][tail]" type="text" value="<?=$data['biz']['add']['tail']??''?>" >
                            </td>
                        </tr>
                        <?php endif; if( $join['biz']['service'] != 'n' ) : ?>
                        <tr>
                            <th>업태</th>
                            <td><input name="biz[service]" type="text" value="<?=$data['biz']['service']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['biz']['item'] != 'n' ) : ?>
                        <tr>
                            <th>종목</th>
                            <td><input name="biz[item]" type="text" value="<?=$data['biz']['item']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['biz']['tel'] != 'n' ) : ?>
                        <tr>
                            <th>전화번호</th>
                            <td><input name="biz[tel]" class="phone" type="text" value="<?=$data['biz']['tel']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['biz']['file'] != 'n' ) : ?>
                        <tr>
                            <th>사업자등록증</th>
                            <td>
                                <?=isset($data['biz']['file']['path'])&&$data['biz']['file']['path']?'<a href="'.$data['biz']['file']['path'].'" target="_blank">':''?>
                                <img src="<?=$data['biz']['file']['path']??''?>" style="max-width: 30px;" id="preview0">
                                <?=isset($data['biz']['file']['path'])&&$data['biz']['file']['path']?'</a>':''?>
                                <input name="biz[file][name]" type="hidden" value="<?=$data['biz']['file']['name']??''?>">
                                <input name="biz[file][path]" type="hidden" value="<?=$data['biz']['file']['path']??''?>">
                                <input type="file" id="file0" data-preview="preview0" name="biz[file]" class="hide" onchange="upload_file(this)"accept=".png,.jpg,.gif,.jpeg">
                                <label for="file0" type="button" class="btn-file"></label>
                            </td>
                        </tr>
                        <?php endif; ?>
                    </table>
                </div>
            </div>
            <?php endif; ?>
    
            <?php if($join['etc']['use'] == 'y') : ?>
            <div class="card">
                <div class="card-header">
                    <h5>부가정보</h5>
                </div>
                <div class="card-body">
                    <table class="table-col">
                        <colgroup>
                            <col width="170px">
                            <col>
                        </colgroup>
                        <?php if( $join['etc']['birthday'] != 'n' ) : ?>
                        <tr>
                            <th>생일</th>
                            <td><input name="etc[birthday]" type="text" value="<?=$data['etc']['birthday']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['etc']['gender'] != 'n' ) : ?>
                        <tr>
                            <th>성별</th>
                            <td>
                                <input name="etc[gender]" type="radio" value="m" id="gender-m" checked>
                                <label for="gender-m">남성</label>
                                <input name="etc[gender]" type="radio" value="f" id="gender-f" <?=isset($data['etc']['gender'])&&$data['etc']['gender']=='f'?'checked':''?>>
                                <label for="gender-f">여성</label>
                            </td>
                        </tr>
                        <?php endif; if( $join['etc']['fax'] != 'n' ) : ?>
                        <tr>
                            <th>팩스번호</th>
                            <td><input name="etc[fax]" class="phone" type="text" value="<?=$data['etc']['fax']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['etc']['marriage'] != 'n' ) : ?>
                        <tr>
                            <th>결혼여부</th>
                            <td>
                                <input name="etc[marriage]" type="radio" value="y" id="marriage-y" checked>
                                <label for="marriage-y">기혼</label>
                                <input name="etc[marriage]" type="radio" value="n" id="marriage-n" <?=isset($data['etc']['marriage'])&&$data['etc']['marriage']=='n'?'checked':''?>>
                                <label for="marriage-n">미혼</label>
                            </td>
                        </tr>
                        <?php endif; if( $join['etc']['job'] != 'n' ) : ?>
                        <tr>
                            <th>직업</th>
                            <td><input name="etc[job]" type="text" value="<?=$data['etc']['job']??''?>"></td>
                        </tr>
                        <?php endif; if( $join['etc']['interest'] != 'n' ) : ?>
                        <tr>
                            <th>관심분야</th>
                            <td><input name="etc[interest]" type="text" value="<?=$data['etc']['interest']??''?>"></td>
                        </tr>
                        <?php endif; ?>
                    </table>
                </div>
            </div>
            <?php endif; ?>
        </div>
        </form>
    </div>
</div>
<script>
    $('#frm').validate({
        rules: {
            id: {
                required: true,
                <?=($join['id']=='email')?'email: true,'.PHP_EOL:''?>
                remote: {
                    headers : {'X-CSRF-TOKEN': $('meta[name="X-CSRF-TOKEN"]').attr('content')},
                    url: '/overlap-custom',
                    type: 'post',
                    dataType: 'json',
                    data:{
                        table: 'member',
                        filde: 'id',
                        id: function(){ return $('input[name="id"]').val(); }
                    }
                }
            },
            password: { required: true, pwCheck: true},
            <?=($join['personal']['name']=='m')?'\'info[name]\': { required: true },'.PHP_EOL:''?>
            <?=($join['personal']['nick']=='m')?'\'info[nick]\': { required: true },'.PHP_EOL:''?>
            <?=($join['personal']['add']=='m')?'\'info[add][post]\': { required: true },'.PHP_EOL:''?>
            <?=($join['personal']['tel']=='m')?'\'info[tel]\': { required: true },'.PHP_EOL:''?>
            <?=($join['personal']['phone']=='m')?'\'info[phone]\': { required: true },'.PHP_EOL:''?>
            <?php if($join['biz']['use'] == 'y') : ?>
            <?=($join['biz']['compNm']=='m')?'\'biz[compNm]\': { required: true },'.PHP_EOL:''?>
            <?=($join['biz']['compNo']=='m')?'\'biz[compNo]\': { required: true },'.PHP_EOL:''?>
            <?=($join['biz']['ceoNm']=='m')?'\'biz[ceoNm]\': { required: true },'.PHP_EOL:''?>
            <?=($join['biz']['service']=='m')?'\'biz[service]\': { required: true },'.PHP_EOL:''?>
            <?=($join['biz']['item']=='m')?'\'biz[item]\': { required: true },'.PHP_EOL:''?>
            <?=($join['biz']['tel']=='m')?'\'biz[tel]\': { required: true },'.PHP_EOL:''?>
            <?php if($join['biz']['file']=='m') : ?>
                <?=(isset($data['biz']['file']['name']))?'':'\'biz[file]\': { required: true },'.PHP_EOL?>
            <?php endif; ?>
            <?=($join['biz']['add']=='m')?'\'biz[add][post]\': { required: true },'.PHP_EOL:''?>
            <?php endif; if($join['etc']['use'] == 'y') : ?>
            <?=($join['etc']['birthday']=='m')?'\'etc[birthday]\': { required: true },'.PHP_EOL:''?>
            <?=($join['etc']['fax']=='m')?'\'etc[fax]\': { required: true },'.PHP_EOL:''?>
            <?=($join['etc']['job']=='m')?'\'etc[job]\': { required: true },'.PHP_EOL:''?>
            <?=($join['etc']['interest']=='m')?'\'etc[interest]\': { required: true },'.PHP_EOL:''?>
            <?php endif; ?>
            memo: {maxlength: 255},
        }
    })
    
    
    const pass_ch = `<input name="password" type="password" value="">
                        <button type="button" class="btn btn-sm btn-red">취소</button>`,
          pass_cn = `<button type="button" class="btn btn-sm btn-gray">변경</button>`;
    $(function(){
        $(document).on('click', '.btn-gray', function(){
            $('#pass-td').html(pass_ch);
        });
        $(document).on('click', '.btn-red', function(){
            $('#pass-td').html(pass_cn);
        });
    })
    </script>
